rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /study-todos/{id} {
      allow read, write: if true;
    }
    match /exam-schedule/{id} {
      allow read, write: if true;
    }
    match /settings/{id} {
      allow read, write: if true;
    }
  }
}
